<!DOCTYPE html>

<html>
<title>EMS</title>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>



<div>
    <img src="../assets/images/bg.jpeg">

    <%- include ('layouts/header.ejs') -%>
        <%- include ('layouts/nav.ejs') -%>

            <center>
                <div class="container2 ">
                    <h4 class="text-center ">Add TimeTable</h4>
                    <form class="form-card" action="/ims/addtimetable" method="post" name="form" onsubmit="return validateForm()">
                        <div class=" row justify-content-center ">
                            <div class="form-group col-sm-8 ">
                                <label for="branch">Select Branch</label>
                                <select class="custom-select" name="branch" id="branch"  onblur="validate(1)">
                                    <option value="...">...</option>
                                    <option value="IT">IT</option>
                                    <optionvalue="Computer">Computer</option>
                                        <option value="Electrical">Electrical</option>
                                        <option value="Mechanical">Mechanical</option>
                                </select>
                            </div>

                        </div>

                        <div class=" row justify-content-center ">
                            <div class="form-group col-sm-4 ">
                                <label for="branch">Select Year</label>
                                <select class="custom-select" name="year" id="year"  onblur="validate(2)">
                                    <option selected>...</option>
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4 ">
                                <label for="branch">Select Sem</label>
                                <select class="custom-select" name="sem" id="sem"  onblur="validate(3)">
                                    <option selected>...</option>
                                    <option value=1>I</option>
                                    <option value=2>II</option>
                                    <option value=3>III</option>
                                    <option value=4>IV</option>
                                    <option value=5>V</option>
                                    <option value=6>VI</option>
                                    <option value=7>VII</option>
                                    <option value=8>VIII</option>
                                </select>
                            </div>

                        </div>



                        <div class=" row justify-content-center ">
                            <div class="form-group col-sm-4 ">
                                <label for="branch">Select Day</label>
                                <select class="custom-select" name="day" id="day"  onblur="validate(4)">
                                    <option selected>...</option>
                                    <option value="monday">MONDAY</option>
                                    <option value="tuesday">TUESDAY</option>
                                    <option value="wednesday">WEDNESDAY</option>
                                    <option value="thursday">THURSDAY</option>
                                    <option value="friday">FRIDAY</option>

                                </select>
                            </div>
                            <div class="form-group col-sm-4 ">
                                <label for="branch">Select Time</label>
                                <select class="custom-select" name="time" id="time"  onblur="validate(5)">
                                    <option selected>...</option>
                                    <option value="9:00 to 11:00">9:00 to 11:00</option>
                                    <option value="11:00 to 1:00">11:00 to 1:00</option>
                                    <option value="2:00 to 4:00">2:00 to 4:00</option>
                                    <option value="4:00 to 5:00">4:00 to 5:00</option>
                                </select>
                            </div>
                        </div>



                        <div class=" row justify-content-center ">
                            <div class="form-group col-sm-4 ">
                                <label for="branch">Select Faculty</label>
                                <select class="custom-select" name="user" id="user"  onblur="validate(6)">
                                    <option selected>...</option>
                                        <% var options = []; %>
                                        <% for(var i=0; i < users.length; i++) { %>
                                          <option value="<%= users[i].userId %>"><%= users[i].name %> (<%= users[i].branch %>)</option>
                                        <% } %>
                                      
                                </select>
                            </div>
                            <div class="form-group col-sm-4 ">
                                <label for="branch">Select Subject</label>
                                <select class="custom-select" name="subject" id="subject"  onblur="validate(7)">
                                    <option selected>...</option>
                                        <% var options = []; %>
                                        <% for(var i=0; i < subjects.length; i++) { %>
                                          <option value="<%= subjects[i].subjectCode%>"><%= subjects[i].name%> (<%= subjects[i].branch %>)</option>
                                        <% } %>
                                      
                                </select>
                            </div>
                            
                        </div>
















                        <div class=" row justify-content-center ">
                            <div class="form-group col-sm-4"> <button type="submit" class="btn-block btn-primary ">Add
                                    TimeTable&nbsp;&nbsp;<i class="fa fa-database "></i></button> </div>
                        </div>
                    </form>
                </div>
            </center>
</div>


<script type='text/Javascript'>
    function validate(val) {
    v1 = document.getElementById("branch");
    v2 = document.getElementById("year");
    v3 = document.getElementById("sem");
    v4 = document.getElementById("day");
    v5 = document.getElementById("time");
    v6 = document.getElementById("user");
    v7= document.getElementById("subject");
    
    
    flag1 = true;
    flag2 = true;
    flag3 = true;
    flag4 = true;
    flag5 = true;
    flag6 = true;
    flag7 = true;
    
    if(val==1 || val==0) {
    if(v1.value == "...") {
    v1.style.borderColor = "red";
    flag1 = false;
    }
    else {
    v1.style.borderColor = "green";
    flag1 = true;
    }
    }
    
    if(val==2 || val==0) {
    if(v2.value == "...") {
    v2.style.borderColor = "red";
    flag2 = false;
    }
    else {
    v2.style.borderColor = "green";
    flag2 = true;
    }
    }
    
     
    if(val==3 || val==0) {
    if(v3.value == "...") {
    v3.style.borderColor = "red";
    flag3= false;
    }
    else {
    v3.style.borderColor = "green";
    flag3 = true;
    }
    }

    if(val==4 || val==0) {
    if(v4.value == "...") {
    v4.style.borderColor = "red";
    flag4= false;
    }
    else {
    v4.style.borderColor = "green";
    flag4 = true;
    }
    }

    if(val==5 || val==0) {
    if(v5.value == "...") {
    v5.style.borderColor = "red";
    flag5= false;
    }
    else {
    v5.style.borderColor = "green";
    flag5= true;
    }
    }

    if(val==6 || val==0) {
    if(v6.value == "...") {
    v6.style.borderColor = "red";
    flag6= false;
    }
    else {
    v6.style.borderColor = "green";
    flag6 = true;
    }
    }
    if(val==7 || val==0) {
    if(v7.value == "...") {
    v7.style.borderColor = "red";
    flag7= false;
    }
    else {
    v7.style.borderColor = "green";
    flag = true;
    }
    }
    
    
    
    flag = flag1 && flag2 && flag3  && flag4 && flag5  && flag6 && flag7 ;
    
    return flag;
    }
    
    function validateForm(){
        let x = document.forms["form"]["branch"].value;
       
      if ((document.forms["form"]["branch"].value == "...")||(document.forms["form"]["year"].value == "...")
            ||(document.forms["form"]["sem"].value == "...")||(document.forms["form"]["day"].value == "...")
                ||(document.forms["form"]["time"].value == "...")||(document.forms["form"]["user"].value == "...")
                ||(document.forms["form"]["subject"].value == "...")) {
        alert("All Data Must be Filled Out");
        
        return false;
      }
    
      
    }
</script>    

</html>














 <!-- <td align="center" height="50" width="100"><br>
                                        <b>Day/Period</b></br>
                                    </td>
                                    <% for(var i=0; i < time_table.length; i++) { %>
                                    <td align="center" height="50" width="100">
                                        <b>
                                            <%= time_table[i].time%>
                                        </b>
                                    </td> -->


                                    










                                     <!-- <tr>
                                    <% for(var i=0; i < time_table.length; i++) { %>
                                        <% if (time_table[i].day="TUESDAY") { %>
                                    <td align="center" class="timetable">
                                        <b>
                                            <%=time_table[i].day%>
                                        </b>
                                    </td>

                                    <td align="center"  class="timetable">
                                        <b>
                                            <%=time_table[i].subjectCode%>
                                            <br>
                                            <%=time_table[i].userName%>
                                        </b>
                                    </td>
                                    <%}%> 
                                    <%}%>
                                </tr>  -->
                                <!-- 
                                <tr>
                                    <td align="center"  class="timetable">
                                        <b>
                                            Tuesday
                                        </b>
                                    </td> 
                                </tr>
                                <tr>
                                    <td align="center"  class="timetable">
                                        <b>
                                            Wednesday
                                        </b>
                                    </td> 
                                </tr>
                                <tr>
                                    <td align="center"  class="timetable">
                                        <b>
                                            Thursday
                                        </b>
                                    </td> 
                                </tr>
                                <tr>
                                    <td align="center"  class="timetable">
                                        <b>
                                            Friday
                                        </b>
                                    </td> 
                                </tr> -->












                                 <!-- <%} else if(user.type=="FACULTY"){%>
           <nav> 
        <ul>
            <li><a class="active" href="home">Home</a></li>
            <li>
                <a href="#">Users
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                   
                   
                    <li><a href="alluserfaculty">View Faculties</a></li>
                   
                    <li><a href="alluserstudent">View Students</a></li>
                    

                </ul>
            </li>
            <li>
                <a href="#">Time Table
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                   
                    <li><a href="viewtimetable">View TimeTable</a></li>
                

                </ul>
            </li>
            
            <li>
                <a href="#">Subject
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    
                    <li><a href="allsubject">View Subject</a></li>

                </ul>
            </li>
            <li class="right"><a href="#">Log Out</a></li>
            <li class="right"><a href="myprofile">My Profile</a></li>


        </ul>


    </nav>
    <%}else if(user.type=="STUDENT"){%>
    <nav>
        <ul>
            <li><a class="active" href="home">Home</a></li>
            <li>
                <a href="#">Faculty
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                   
                   
                    <li><a href="alluserfaculty">View Faculties</a></li>
                   
                    
                    

                </ul>
            </li>
            <li>
                <a href="#">Time Table
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    
                    <li><a href="viewtimetable">View TimeTable</a></li>
                

                </ul>
            </li>
            
            <li>
                <a href="#">Subject
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    
                    <li><a href="allsubject">View Subject</a></li>

                </ul>
            </li>
            <li class="right"><a href="#">Log Out</a></li>
            <li class="right"><a href="myprofile">My Profile</a></li>


        </ul>


    </nav>
    <%}%> -->


       
       
       
        <!-- <div class="row col-md-8  ">
         <label><b>Full Name :</b></label>&nbsp;<label><%=user.name%></label>
         </div>
         <div class="row col-md-8 ">
         <label><b>UserId :</b></label>&nbsp;<label><%=user.userId%></label>
        </div>
        <div class="row col-md-8 ">
         <label><b>Branch :</b></label>&nbsp;<label><%=user.branch%></label>
        </div>
        <div class="row col-md-8 ">
         <label><b>Role :</b></label>&nbsp;<label><%=user.type%></label>
         </div>
         <div class="row col-md-8 ">
         <label><b>Email :</b></label>&nbsp;<label><%=user.email%></label>
         </div>
         <div class="row col-md-8 ">
         <label><b>Phone Number :</b></label>&nbsp;<label><%=user.phoneNo%></label>
            </div>
            <div class=" row justify-content-center ">
                <a href="/ims/edituser<%= user.id%>"> <button type="submit" class="btn-block btn-primary ">Edit Profile&nbsp;&nbsp<i class="fas fa-edit fa-lg" aria-hidden="true"></i></button></a>&nbsp;
                    
                 </div> -->
   
       








       
